<!DOCTYPE html>
<html lang="en">
<head><style>
    .clicked {
        background-color: yellow;
    }
</style>
    <meta charset="UTF-8">
    <title>BSI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body id="bdy">
<button class="btn btn-success" onclick="readFromFile()">Wyświetl z pliku</button>
<button class="btn btn-success" onclick="saveToFile()">Zapisz do pliku</button>
<button class="btn btn-success" onclick="readFromDatabase()">Wyświetl z bazy</button>
<button class="btn btn-success" onclick="saveToDatabase()">Zapisz do bazy</button>
<button class="btn btn-success" onclick="readFromXml()">Wyświetl z XML</button>
<button class="btn btn-success" onclick="saveToXml()">Zapisz do XML</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="script.js"></script>
</body>
</html>